# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
# macOS
.DS_Store
*.DS_Store

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# data
src/bread/tests/data/
*.h5
*.npy
*.nd2
*.tif
*.zip
*.tar
data-*/*
# *.pth

# wandb
src/bread/tests/wandb/
src/bread/evaluations/wandb/
notebooks/tracking/scripts/wandb/

# png files in tests
src/bread/tests/*/*.png
src/bread/tests/*/*/*.png
src/bread/tests/*.pth
src/bread/tests/*.csv

# png files and charts in evaluations
src/bread/evaluations/*/*.png
src/bread/evaluations/*/*/*.png
src/bread/evaluations/*.pth
src/bread/evaluations/*.csv
src/bread/evaluations/*/*.html
src/bread/evaluations/*/*/*.html
src/bread/evaluations/*.html

# results and logs
# *.csv
# *.pth
*.log
# *.txt
# *.pt
# *.json
# *.pkl
# *.yaml
*.html
*.wandb
*.yml

# scripts
# *.sh

# notebooks
# *.ipynb
*.nbconvert.ipynb

# wandb
wandb/
wandb-*

# others
*.pyc
*.csv
# *.pth
*.log
*.txt
# *.pt
# *.json
# *.pkl
# *.yaml
*.html
# *.sh
*.cfg
*.toml
# notebooks
# bread/notebooks/


